name: Build Linux ARM64
on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set environment variables
        run: |
          echo "GOARCH=${{ inputs.arch }}" >> $GITHUB_ENV
          echo "GOOS=linux" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          if [ "${{ inputs.arch }}" == "amd64" ]; then
            echo "ARCH_NAME=x86_64" >> $GITHUB_ENV
          elif [ "${{ inputs.arch }}" == "arm64" ]; then
            echo "ARCH_NAME=aarch64" >> $GITHUB_ENV
          else
            echo "ARCH_NAME=${{ inputs.arch }}" >> $GITHUB_ENV
          fi
          
      - name: Build for ARM64
        env:
          DOCKER_BUILDKIT: 1
        run: |
          # BuildKit 활성화 및 새 빌더 생성
          docker buildx create --use --name arm64-builder --platform linux/arm64
          docker buildx inspect --bootstrap

          # ARM64용 이미지 빌드
          docker buildx build --platform linux/arm64 --load --tag initia/initiad-shared:arm64 . -f Dockerfile.arm64

          # ARM64 이미지를 사용하여 빌드 결과물 추출
          mkdir -p ./build
          docker create --name temp initia/initiad-shared:arm64
          docker cp temp:/usr/local/bin/initiad ./build/
          docker cp temp:/lib/libmovevm.so ./build/
          docker cp temp:/lib/libcompiler.so ./build/
          docker rm temp

          # 결과물 패키징
          cd ./build
          mkdir -p initia_${VERSION}
          mv initiad initia_${VERSION}/
          mv libmovevm.so initia_${VERSION}/libmovevm.${ARCH_NAME}.so
          mv libcompiler.so initia_${VERSION}/libcompiler.${ARCH_NAME}.so
          tar -czvf initia_${VERSION}_Linux_${ARCH_NAME}.tar.gz initia_${VERSION}
          mv initia_${VERSION}_Linux_${ARCH_NAME}.tar.gz ../

          # 빌드 결과 확인
          cd ..
          ls -l
          file initia_${VERSION}_Linux_${ARCH_NAME}.tar.gz

          # 빌더 제거
          docker buildx rm arm64-builder

      - name: List files
        run: ls -l
        
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
              ./initia_${{ env.VERSION }}_Linux_${{ env.ARCH_NAME }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}