name: Build Linux AMD64

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Set environment variables
        run: |
          echo "GOARCH=amd64" >> $GITHUB_ENV
          echo "GOOS=linux" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=x86_64" >> $GITHUB_ENV

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"

      - name: Build for Linux AMD64
        run: |
          export GOARCH=${GOARCH}
          export GOOS=${GOOS}
          make build-linux-with-shared-library
          mkdir -p release-${GOOS}-${ARCH_NAME}
          mv ./build/libmovevm.so ./release-${GOOS}-${ARCH_NAME}/libmovevm.${ARCH_NAME}.so
          mv ./build/libcompiler.so ./release-${GOOS}-${ARCH_NAME}/libcompiler.${ARCH_NAME}.so
          mv ./build/initiad ./release-${GOOS}-${ARCH_NAME}/initiad
          tar -czvf initia_${VERSION}_Linux_${ARCH_NAME}.tar.gz -C release-${GOOS}-${ARCH_NAME} initiad libmovevm.${ARCH_NAME}.so libcompiler.${ARCH_NAME}.so
          make clean

      - name: Static Build for Linux AMD64
        run: |
          export GOARCH=${GOARCH}
          export GOOS=${GOOS}
          make build-linux
          mkdir -p release-${GOOS}-${ARCH_NAME}-static
          mv ./build/initiad ./release-${GOOS}-${ARCH_NAME}-static/initiad
          tar -czvf initia_${VERSION}_Linux_${ARCH_NAME}_static.tar.gz -C release-${GOOS}-${ARCH_NAME}-static initiad
          make clean

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./initia_${{ env.VERSION }}_Linux_${{ env.ARCH_NAME }}.tar.gz
            ./initia_${{ env.VERSION }}_Linux_${{ env.ARCH_NAME }}_static.tar.gz
        env:
          Version: ${{ env.VERSION }}
          ARCH_NAME: ${{ env.ARCH_NAME }}
