name: Build Linux ARM64

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Set environment variables
        run: |
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=aarch64" >> $GITHUB_ENV
          MOVEVM_VERSION=$(go list -m github.com/initia-labs/movevm | awk '{print $2}')    
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}" >> $GITHUB_ENV

      - name: Ensure dependencies
        run: |
          go mod tidy
          go get github.com/initia-labs/movevm@${MOVEVM_VERSION}

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}"

      - name: Build for ARM64
        run: |
          make build \
          && cd ./build \
          && cp ~/go/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libmovevm.${ARCH_NAME}.so ./ \
          && cp ~/go/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libcompiler.${ARCH_NAME}.so ./ \
          && tar -czvf initia_${VERSION}_Linux_${ARCH_NAME}.tar.gz initiad libmovevm.${ARCH_NAME}.so libcompiler.${ARCH_NAME}.so \
          && mv ./initia_"$VERSION"_Linux_"${ARCH_NAME}".tar.gz ${GITHUB_WORKSPACE}/ \
          && rm -rf libmovevm.${ARCH_NAME}.so libcompiler.${ARCH_NAME}.so ./initiad

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: initia-linux-arm64
          path: initia_*.tar.gz
          retention-days: 1
