name: Build Darwin AMD64

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Set environment variables
        run: |
          echo "GOARCH=amd64" >> $GITHUB_ENV
          echo "GOOS=darwin" >> $GITHUB_ENV
          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=x86_64" >> $GITHUB_ENV
          # Read MOVEVM_VERSION from config file
          MOVEVM_VERSION=$(go list -m github.com/initia-labs/movevm | awk '{print $2}')    
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}" >> $GITHUB_ENV

      - name: Ensure dependencies
        run: |
          go mod tidy
          go get github.com/initia-labs/movevm@${MOVEVM_VERSION}

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}"

      - name: Build and Package for Darwin AMD64
        run: |
          make build
          
          # Create build directory if not exists
          mkdir -p build
          
          # Copy required dylib files
          cp "$(go env GOPATH)/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libmovevm.dylib" build/
          cp "$(go env GOPATH)/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libcompiler.dylib" build/
          
          # Create archive
          cd build && \
          tar -czvf "initia_${VERSION}_Darwin_${ARCH_NAME}.tar.gz" \
            initiad libmovevm.dylib libcompiler.dylib
          
          # Move archive to workspace and cleanup
          mv "initia_${VERSION}_Darwin_${ARCH_NAME}.tar.gz" "${GITHUB_WORKSPACE}/"
          rm -f libmovevm.dylib libcompiler.dylib initiad

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: initia-darwin-amd64
          path: initia_*.tar.gz
          retention-days: 1
