name: Docker

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: initiad

jobs:
  build-image:
    name: Build Docker images
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # ============================
      # 1) NORMAL BUILD (Dockerfile)
      # ============================
      - name: Build & Push normal image
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: ${{ startsWith(github.ref, 'refs/tags') }}
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          labels: |
            version=${{ github.ref_name }}
          no-cache: true
          build-args: |
            VERSION=${{ github.ref_name }}
            COMMIT=${{ github.sha }}

      # ====================================
      # 2) ROCKSDB BUILD (Dockerfile.rocksdb)
      # ====================================
      - name: Build & Push RocksDB image
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.rocksdb
          push: ${{ startsWith(github.ref, 'refs/tags') }}
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest-rocksdb
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}-rocksdb
          labels: |
            version=${{ github.ref_name }}-rocksdb
          no-cache: true
          build-args: |
            VERSION=${{ github.ref_name }}
            COMMIT=${{ github.sha }}
